# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Any directory
bin/**
common/**
.vs/**
.vs/game/FileContentIndex**
skeleton/debug/**
/skeleton/.vs/game/**

# Zip files
*.zip
